<h1> Information About the Application Author </h1>

<hr>

<h4> Michelle Renee D. Ching </h4>
<p> A lecturer in De La Salle University - Science and Technology Complex since 2009 and De La Salle University since 2013. Received her Bachelor of Science in Information Management Degree in De La Salle University - Science and Technology Complex in 2009 with Honors. Currently taking her Master of Science in Information Technology in De La Salle University - Manila. Had worked in Megaworld Corporation as a Junior Management Information Associate and in Manila Cordage Company as a Software Quality Tester and had her on-the-job training in Accenture under the Accenture Education Program. 
<br>
<br>
Her involvement in the Open Government Data is to produce an MIS Policy Framework on Open Government Data for Local Government Units in Maternal Health and Child Care in the Philippines. The area to be studied is in Sta. Rosa City, Laguna, which is composed of 11 Barangay Health Centers in its City Health Office 1 and 10 Barangay Health Centers in its City Health Office 2. Issues to be looked at are on Mortality Rate, Teen Pregnancy, Vaccinations, Malnutrition, and Vitamin Deficiency.
<br>
<br>
She has two publications that explores Open Data in the Philippines. These are "Maternal Health Practices in Sta. Rosa, Laguna: Possible Avenues for Innovation using Open Data Techniques" presented in De La Salle University Graduate Students Colloquia and abstract published in De La Salle University Research Congress 2014 and "Exploring Possible Open Data Opportunities in Maternal Health and Child Care in the Philippines" presented in ICNIT 2014, Singapore and published in International Journal of Innovation, Management, and Technology (IJIMT) also in 2014</p>
